<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EyeAccounts - Admin</title>
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/utils.js"></script>
    <script src="../js/front.js" defer></script>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
</head>

<body>
    <div class="admin-container">
        <div class="admin-sidebar">
            <div class="admin-sidebar__logo">
                <img src="/img/logo.webp" alt="">
                <a class="admin-sidebar__logo-text" href="/">EyeAccounts</a>
            </div>
            <div class="admin-sidebar__links">
                <a href="/admin/">Аккаунты</a>
                <a href="/admin/stat">Статистика</a>
            </div>

        </div>
        <div class="admin-main">
          
            <div style="margin: 20px;">
                <h2>Проданные аккаунты</h2>
            </div>
            <div class="admin-main__accounts">
             
                <%
                    accounts.forEach(element => {
                    %>
                    <div class="account-item" data-social="<%-element.social%>">
                        <div class="account-item__main">
                            <div class="account-item__icon"><img src="" alt=""></div>
                            <div class="account-item__description">
                                <%-element.description%>
                            </div>
                        </div>
                        <div class="account-item__middle">
                            <div class="account-item__price"><span>Цена</span><b><%-element.price%> руб</b></div>
                            <div class="account-item__amount"><span>Проданно</span><b><%-element.amount%>шт.</b></div>
                        </div>
                    </div>
                    <%});
                %>
            </div>
            <div style="margin: 20px;">
                <h2>Общая сумма продаж: <%-totalSold%> руб.</h2>
                <h2>Всего проданно: <%-totalSoldCount%></h2>
            </div>
            
        </div>
    </div>

</body>

</html>