<%- include('./header'); %>
    <script src="js/userAccountFront.js" defer></script>

    <div class="account-info">
        <div class="account-settings hide">
            <div class="account-settings__close">
                <img src="img/icons/close.png" alt="">
            </div>
            <div class="account-settings__side">
                <div class="account-settings__side-option">Основные</div>
            </div>
            <div class="account-settings__main">
                <form action="/auth/logout" method="delete">
                    <input type="submit" class="logout-btn" value="Выйти из аккаунта">
                </form>
            </div>
        </div>
        <div class="account-info__sidebar">

            <div class="account-info__avatar">
                <div class="change-avatar">
                    <form action="/userAccount/changeAvatar" method="post" id="user-change-avatar-form" enctype="multipart/form-data">
                        <input type="file" name="avatar">
                    </form>
                </div>

                <img src="" alt=""></div>
            <div class="account-info__login">
                <%=user.login%>
            </div>
            <!-- <div class="xp">
                <div class="xp__bar">
                    <progress id="xp-bar" max="100" value="10"></progress>
                </div>
                <div class="xp__ranklvl">
                    <div class="xp__lvl">
                        <b> lvl <%=user.lvl%>.</b>
                    </div>
                    <div class="xp__rank">
                        <%=user.rank%>
                    </div>
                </div>
            </div> -->
            <!-- <div class="account-info__additional">
                <div class="account-info__additional-item">
                    <b>5 месяцев</b> на сервисе
                </div>
                <div class="account-info__additional-item">
                    <b>10</b> успешных сделок
                </div>
            </div> -->
        </div>
        <div class="account-info__main">
            <div class="account-info__bar">
                <div class="account-info__socials">
                    <a href="#" class="socials-item">
                        <img src="img/icons/vk-purple.png" alt="vk">
                    </a>
                    <a href="#" class="socials-item">
                        <img src="img/icons/insta-purple.png" alt="instagram">
                    </a>
                    <a href="#" class="socials-item">
                        <img src="img/icons/tg-purple.png" alt="telegram">
                    </a>
                </div>
                <div class="account-info__settings-bar">
                    <!--<div class="account-info__switch"><img src="" alt=""></div>-->
                    <div class="account-info__settings"><img src="img/icons/settings-purple.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./footer'); %>